In [2]:
import pandas as pd

In [3]:
#make a new column for episode count
#make a new column for time stamp
#which anime has the highest score
#give me top 5 highest scoring anime
#which anime has the highest episode count
#animes with top 5 episode count
#which is the longest running anime

In [4]:
df = pd.read_csv('anime.csv')

In [5]:
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

### extracting episode count

In [6]:
df.loc[0, 'Title']

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [13]:
def extract_ep_count(txt):
    flag = False
    res = ''
    for i in txt:
        if i==')':
            return res.split(' ')[0]
        if i=='(':
            flag = True
            continue
        if flag:
            res += i

In [16]:
df['ep_count'] = df['Title'].apply(extract_ep_count).astype('int')

In [18]:
df.head()

   Rank                                              Title  Score  ep_count
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

### extracting timestamp

In [20]:
df.loc[0, 'Title']

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [25]:
def extract_timestamp(txt):
    flag = False
    res = ''
    for i in range(len(txt)):
        c = txt[i]
        if c==")":
            flag = True
            for j in range(i+1, i+20):
                res += txt[j]
            return res

In [27]:
df['Timestamp'] = df['Title'].apply(extract_timestamp)

In [28]:
df.head()

,Rank,Title,Score,ep_count,Timestamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

### highest score anime

In [29]:
df[df['Score'] == df['Score'].max()]

,Rank,Title,Score,ep_count,Timestamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64,Apr 2009 - Jul 2010

### top 5 highest scoring anime

In [37]:
df.loc[df['Score'].nlargest(5).index]

,Rank,Title,Score,ep_count,Timestamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

### highest episode count

In [39]:
df[df['ep_count'] == df['ep_count'].max()]

,Rank,Title,Score,ep_count,Timestamp
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010

### top 5 episode count

In [41]:
df.loc[df['ep_count'].nlargest(5).index]

,Rank,Title,Score,ep_count,Timestamp
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,75,Oct 2000 - Mar 2002
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,74,Apr 2004 - Sep 2005

### longest running anime

In [44]:
from dateutil.relativedelta import relativedelta

def extract_months_count(timestamp_txt):
    timestamp_txt_list = timestamp_txt.split('-')
    start_txt = timestamp_txt_list[0].strip()
    stop_txt = timestamp_txt_list[1].strip()

    start = pd.to_datetime(start_txt, format='%b %Y')
    stop = pd.to_datetime(stop_txt, format='%b %Y')
    delta = relativedelta(stop, start)
    return delta.years * 12 + delta.months

In [45]:
df['months'] = df['Timestamp'].apply(extract_months_count)

In [46]:
df.head()

,Rank,Title,Score,ep_count,Timestamp,months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,15
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,5
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,2
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,11
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,3

In [47]:
df[df['months'] == df['months'].max()]

,Rank,Title,Score,ep_count,Timestamp,months
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,110